@model Bookings.Models.Reservation[]
    <div class="_Form"
         <ul>
        @foreach (var item in Model)
        {
            <li>@item.Contact</li>
        }
        <a asp-controller="Reservations" asp-action="create">Jag är en partial View test!</a>
    </ul>
    </div>
    