
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link href="~/RevStyle.css" rel="stylesheet" />
    <script src="~/Rev.js"></script>
</head>
<body>

    <h1>@ViewBag.Header</h1>
    <div style="background-color:white">
    </div>
        
    @RenderBody()
   

    @RenderSection("scripts", false)

</body>
</html>

