<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" href="~/RevStyle.css">
    <script src="~/Rev.js"></script>
</head>
<body style="background-color:white">
    <h1>@ViewBag.Header</h1>
    <div style="background-color:white">
        @RenderBody()
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>

