<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/RevStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="~/TestKomponent.js"></script>

</head>

<body style="background-color:white">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size:45px;
        }
    </style>

    <column class="column">
        <style>
            .column.ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #b7ded2;
                border: solid 1px;
                border-bottom-color: white;
                border-radius: 5px;
            }

            .column.li {
                float: left;
            }

                .column. li a {
                    display: block;
                    color: #b7ded2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

            
        </style>

        <ul>
            <div class="w3-container w3-center w3-animate-bottom">
                <li><a class="active" href="Index">Home</a></li>
                <li><a href="/CalendarView">Book</a></li>
                <li><a href="#about">About</a></li>
        </ul>
        <div>

        <h1>@ViewBag.Header</h1>
        <div style="background-color:white">

            @RenderBody()
        </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
        @RenderSection("scripts", false)
    </column>
    <div class="footer">
    </div>
</body>
</html>

