@model Bookings.Models.ViewModels.ReservationsIndexVM
<div class="column"
    <table>
        <div class="card">
            <div style="background-color:navajowhite"
        <form asp-controller="Reservation" asp-action="search">
            <label asp-for="Date"></label>
            <input asp-for="Date" />
            <br />
        </form>

        @if (Model != null)
        {<b>Lediga platser:(@Model.NumberOfPeople)</b>}</b>
    </div>
        </div>
         </div>

    </table>
