@model Bookings.Models.ViewModels.CalendarDayVM[]
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalendarView</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <p>Weekend: @item.IsWeekend Full? @item.IsFull</p>

        @foreach (var slot in item.CalendarTimeSlots)
        {
            <a>Start time: @slot.StartDateTime.Date.ToString("hh:mm") End time: @slot.EndDateTime.Date.ToString("hh:mm")</a>
        }
    }
</body>
</html>
