@*@model Bookings.Models.ViewModels.ReservationsCreateVM*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Booking";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <div class="flex-container"
         <img class="img1" src="~/ansikte.jpg" alt="Mona" width="560" height="760">
            <img class="img2" src="~/ansikte.jpg" alt="Mona" width="560" height="760">
            <img class="img3" src="~/ansikte.jpg" alt="Mona" width="560" height="760">

</div>
    
   

</body>
</html>