@model Bookings.Models.ViewModels.ReservationsCreateVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Your Booking";
    ViewBag.Header = "Your Booking";
}

<body>
    <partial name="_search" model="@new ReservationsIndexVM()" />
    <div class="column "
        <div class="bookingform"
            <h4>Enter your email adress</h4>
            <form asp-controller="Reservations" asp-action="create">
                <label asp-for="Contact"></label>
                <input asp-for="Contact" />
                <br />
                <input id="frm2_submit" type="submit" value="confirm" />
            </form>
        </div>
    </div>
</body>
