@model Bookings.Models.ViewModels.ReservationsIndexVM[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Welcome!";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Index</title>
</head>
<body>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 60px;
        }

        .img1 {
            opacity: 0.5;
        }

        .img2 {
            opacity: 0.25;
        }

        .img3 {
            opacity: 0.15;
        }
    </style>

    <div id=divResults</div>
    <div class="flex-container"

        <div class="w3-container w3-center w3-animate-bottom">
            <img class="img1" src="~/ansikte.jpg" alt="Mona" width="560" height="760">
            <img class="img2" src="~/ansikte.jpg" alt="Mona" width="560" height="760">
            <img class="img3" src="~/ansikte.jpg" alt="Mona" width="560" height="760">
        </div>

    </div>
    <script>
        fetch("/Confirm",
            {
                method: "GET",
            })
            .then(res => res.text())
            .then(html =>
                document.getElementById("divResults").innerHTML = html);
    </script>






</body>
</html>