@model Bookings.Models.ViewModels.ReservationsIndexVM[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Welcome!";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Index</title>
</head>
<body>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
        }

        .img1 {
            opacity: 0.15;
        }

        .img2 {
            opacity: 0.25;
        }

        .img3 {
            opacity: 0.15;
        }

        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 35%;
            padding: 100px;
            height: 1000px; /* Should be removed. Only for demonstration */
            position: center;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <div class="flex-container.index"
         @*<div class="row">*@
         style="float:right">
        <img class="img1" src="~/ansikte.jpg" alt="Mona" width="650" height="750">
        <div class="column" style="background-color:whitesmoke">
            <h2>Dear visitor!</h2>
            <p Welcome to the Museum of Museum!>
                We are open as usual
                Weekdays: 12:00 - 18.00
                Weekends: 10.00 - 18.00
                Please book your visit on the Book site!
            </p>
            <img class="img2" src="~/ansikte.jpg" alt="Mona" width="660" height="760">

        </div>
    <div class="footer">

    </div>
    </div>
</body>
</html>