@model Bookings.Models.ViewModels.ReservationsIndexVM[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Booking";
    ViewBag.Header = "Booking";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form>
        <a asp-controller="Reservations" asp-action="CalendarView">Book</a>
    </form>
   
</body>
</html>
